
<% @staffs.each do |staff| %>
	<button type="button" class="employee btn btn-success btn-block" data-id=<%=staff.id%>><%= staff.first_name %></button>
<%end %>
<br>
<br>
<button type="button" id="generate" class="btn btn-primary btn-block">Generate Schedule</button>

<a href="/employees" id="generate" class="btn btn-danger btn-block">Edit Employees</a>



<script type="text/javascript">
	var employees = $(".employee")
	employees.click(function(){
		$(this).toggleClass("btn-success")
		$(this).toggleClass("btn-default")

	}) 

	var generate = $("#generate")
	generate.click(function(){
		var employees = $(".btn-success")
		var selected = []
		for(var i=0; i < employees.length; i++){
			selected.push($(employees[i]).data().id)
		}
		window.location.replace("/new_schedule?ids="+selected)
	})
</script>

