
<% @staffs.each do |staff| %>
	<button type="button" class="employee btn btn-success btn-block" data-id=<%=staff.id%>><%= staff.first_name %></button>
<%end %>
<br>
<div id="time" class="btn btn-block time"></div>
<br>
<button type="button" id="generate" class="btn btn-primary btn-block">Generate Schedule</button>

<a href="/employees" id="generate" class="btn btn-danger btn-block">Edit Employees</a>



<script type="text/javascript">
	var employees = $(".employee")
	var selected = []

	function updateSelected(){
		selected = []
		var employees = $(".btn-success")
		for(var i=0; i < employees.length; i++){
			selected.push($(employees[i]).data().id)
		}
	}

	function updateTime(){
		var div = $("#time");
		$.get("/time",{ids: selected}).done(function(data){
			$("#time").html("estimated time: "+ Math.ceil(data.data) + " sec")
		})
	}

	employees.click(function(){
		$(this).toggleClass("btn-success")
		$(this).toggleClass("btn-default")
		updateSelected()
		updateTime()

	}) 

	var generate = $("#generate")
	generate.click(function(){
		window.location.replace("/new_schedule?ids="+selected)
	})

	updateSelected()
	updateTime()
</script>

